#include <windows.h>
#include <winuser.rh>
#include <commctrl.h>
#include <richedit.h>

#define BUTTON 0x80
#define EDIT 0x81
#define STATIC 0x82
#define SCROLLBAR 0x84

#include "dialog.rch"
#include "menu.rch"
#include "icon.rch"
#include "cursor.rch"

#define SUBTITLE     CnCNet5 Spawner
#define HARD_VERSION 1,3,5,0
#define SOFT_VERSION 1.35
#define YEAR         2023
#define ABBREVIATION Spawner

#include "version.rch"

LANGUAGE 9, SUBLANG_SYS_DEFAULT
