#
#  Windows build action for yr-patches.
#
#  Authors: CCHyper, OmniBlade, Belonit
#

name: Nightly Build

on:
  pull_request:
  push:
    branches:
    - master
    - main

jobs:
  build:
    name: Nightly Build
    runs-on: windows-latest

    outputs:
        matrix: ${{ steps.set-matrix.outputs.matrix }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]

    steps:
    - name: Clone Repository
      uses: actions/checkout@v3
      with:
       fetch-depth: 0

    - name: Clone CnCNet Repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        repository: CnCNet/yr-patches-private
        path: 'cncnet'
        ssh-key: ${{ secrets.CNCNET_CI_SSH_PRIVATEKEY }}
        ref: ra2modeart   # <-- Set your desired branch here

    - name: Build yr-patches
      uses: ./.github/actions/build

# Upload New Release
    - name: Delete Previous Release
      if: ${{ github.event_name != 'pull_request' }}
      uses: dev-drprasad/delete-tag-and-release@v1.0
      with:
        tag_name: latest
        github_token: ${{ secrets.GITHUB_TOKEN }}
        delete_release: true

    - name: Create Archive For Release
      if: github.event_name != 'pull_request'
      run: |
        7z a yr-patches.zip .\artifact\*

    - name: Upload New Release
      if: github.event_name != 'pull_request'
      uses: softprops/action-gh-release@v1
      with:
        name: Latest
        tag_name: latest
        body: Latest yr-patches binaries.
        files: |
          yr-patches.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
